<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Suggested Songs:</h1> 
    </div>
    <div id="preview" class="col-md-6">
    </div>
  </div>
  <br>
  <br>
  <table class="table table-hover">
    <div class="listings">
      <thead>
        <tr>
          <th>Song</th>
          <th>Artist</th>
          <th>Album</th>
          <th></th><th></th><th></th>
        </tr>
        <% @list.each do |l| %>
        <tr id="<%=l.spotify_id %>">
          <td><%= l.title %></td>
          <td><%= l.artist %></td>
          <td><%= l.album %></td>
          <td class="preview"><%= link_to 'Preview', l.preview, class: 'video btn btn-primary btn-xs', remote: true%></td>
          <% if @vote %>
            <% unless l.votes.find_by(veto: true) %>
              <td><%= link_to 'Vote', votes_path(song_id: l.id), method: :create, class: 'btn btn-primary btn-xs' %></td>
              <td><%= link_to 'Veto', vetoes_path(id: l.id), method: :create, class: 'btn btn-primary btn-xs' %></td>
            <% else %>
              <td ><%= image_tag 'veto.png' %></td>
              <td ><%= image_tag 'veto.png' %></td>
            <% end %>
          <% else %>
            <td><%= link_to 'Suggest', song_suggestions_path(id: l.spotify_id), method: :create, class: 'btn btn-primary btn-xs' %></td>
          <% end %>
        </tr>
        <% end %>
      </thead>
    </div>
  </table>
</div>
<%= link_to 'Current Playlist', playlists_index_path, class: 'btn btn-primary btn-xs' %></td>